

.navbarText {
  font-size: 16pt;
  /* color: #000000; */
}

.navbar {
  z-index: 1050;
}

.parralax {
  background-image: url("./images/IMG_0863_2.jpg");
  /* height:100vh; */
  /* min-height:500px; */
  /* min-height: 100%; */
  /* xwidth:100%; */
  min-height:100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.mini-parralax {
  /* background-image:url('./images/IMG_2625.JPG'); */
  height:100vh;
  background-image:url('./images/shapeimage_1.webp');
  display: flex;
  overflow: hidden;
  justify-content:center;
  align-items: center;
  background-size:cover;
  background-attachment:fixed;
  background-position:center

}

@media only screen and (max-device-width: 1366px) {
  .parralax {
    background-attachment: scroll;

  }
}

.welcome-content {
  background: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  opacity: 1 !important;
}


.content {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
}

.book-cover-image {
  /* width:100%; */
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.dark-hover-a-tags {
  color: #ffffff;
  text-decoration:none;
  transiton: color 0.3s ease;
}

.dark-hover-a-tags:hover {
  color: #ff6a13;
  text-decoration: underline;
  font-weight: bold;
}

.intake-a-tag {
  color: #ffffff;
  transiton: color 0.3s ease;
}

.intake-a-tag:hover {
  color: #ff6a13;
}

.card-a-tag {
  color: #ffffff;
  text-decoration:underline;
  transition: color 0.3s ease;
}

.card-a-tag:hover {
  font-weight: bold;

}

ul {
  text-align:left;
}

li {
  padding:5px;
  /* vertical-alignment: center; */
}

div {
  scroll-margin-top: 8em;
}
